@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .btn {
        @apply border bg-stone-900 hover:bg-stone-800 border-black p-2
    }
    .form-input{
        @apply bg-stone-700 rounded-lg p-2 border border-stone-600
    }
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    @apply bg-stone-800 rounded-lg
}

::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    background-clip: content-box;
    @apply bg-stone-700 rounded-lg
}
::-moz-selection {
    /* Code for Firefox */
    color: black;
    background: white;
}

::selection {
    color: black;
    background: white;
}

/* .custom-img-wrap-outside {
    transition: height 0.75s;
}

.custom-img-wrap-inside {
    transition: top 0.75s, height 0.75s;
} */
/* .custom-img-wrap-parent:hover .custom-img-wrap-outside{
    height: 100%!important;

}
.custom-img-wrap-parent:hover .custom-img-wrap-inside{
    top: 0 !important;
    height: 0 !important;

} */